../.idea/
../my_env/
blog/__init__.py
blog/__pycache__/
blog/apps.py
blog/migrations/
blog/static/.DS_Store
blog/static/css/k1.png
blog/static/css/k2.png
blog/static/images/
blog/templates/.DS_Store
blog/templates/blog/.DS_Store
blog/tests.py
db.sqlite3
mysite/__init__.py
mysite/__pycache__/
mysite/wsgi.py

