{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Главные новости</h2>
      <p>Самые актуальные новости.</p>
    <p>Самые актуальные новости.</p>
    <p>Самые актуальные новости.</p>
    <p>Самые актуальные новости.</p>
    <p>Самые актуальные новости.</p>
    <p>Самые актуальные новости.</p>
    <p>Самые актуальные новости.</p>
  </div>
</body>
</html>